@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
}
.promo {
    color: #5353ac;
}
.doller {
    color: #6666ff;
}
.total {
    color: #4040bf;
}
.total-amount {
    color: #0000cc;
}
#total-amount {
    color: #0000cc;
}
